@use "../../styles/mixins" as *;

.unit__container {
  position: relative;
  z-index: 1;

  .unit__btn {
    background-color: var(--neutral-800);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    padding: 0.8rem 1rem;
    color: var(--neutral-000);
    gap: 1rem;
    @include text-styling(var(--neutral-000), var(--font-preset-6-size));
    cursor: pointer;
    line-height: 1.2;
  }

  .unit__dropdownContainer {
    padding: 0.5rem 0;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .unit__dropdown {
    height: fit-content;
    width: 14.3rem;
    background-color: var(--neutral-800);
    border-radius: 12px;
    border: 1px solid var(--neutral-600);
    z-index: 10;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;

    h3 {
      padding: 0 0.5rem;

      @include text-styling(var(--neutral-000), var(--font-preset-6-size));
    }
  }

  .unit__btnContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid var(--neutral-600);
    padding: 0.5rem 0;

    .unit__btns {
      background-color: transparent;
      border: none;
      text-align: left;
      padding: 0.5rem;
      @include text-styling(var(--neutral-000), var(--font-preset-6-size));
      cursor: pointer;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--primary-font);
      &.active {
        background-color: var(--neutral-700);
      }
    }

    .unit__label {
      padding: 0.5rem;

      @include text-styling(var(--neutral-300), var(--font-preset-7-size));
    }
  }

  .unit__btnContainer:last-child {
    border: none;
  }
}
