.layout__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  width: 65%;
  margin: auto;
  padding: 2rem 2rem 0rem 2rem;
  max-width: 1440px;
}
