@use "../styles/mixins" as *;

.metric {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 5fr 1.8fr 3fr;
  color: white;
  height: 70vh;
  gap: 2rem;

  .block-1 {
    border-radius: 20px;
    background-image: url("../assets/images/bg-today-large.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .block-3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1rem;

    h3 {
      grid-column: 1 / span 7;
    }

    div {
      width: 100%;
      background-color: var(--neutral-800);
      border-radius: 12px;
      border: 1px solid var(--neutral-600);
    }
  }

  .block-2 {
    display: flex;
    gap: 1rem;

    div {
      width: 100%;
      background-color: var(--neutral-800);
      border-radius: 12px;
      border: 1px solid var(--neutral-600);
    }
  }

  .block-4 {
    grid-row: 1 / span 3;
    grid-column: 2;
    background-color: var(--neutral-800);
    border-radius: 20px;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .Hourly__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        height: 100%;
        background-color: var(--neutral-700);
        border-radius: 8px;
        border: 1px solid var(--neutral-600);
      }
    }

    button {
      background-color: var(--neutral-600);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      color: var(--neutral-000);
      gap: 1rem;
      @include text-styling(var(--neutral-000), var(--font-preset-6-size));
      cursor: pointer;
      line-height: 1.2;
      font-family: var(--primary-font);
    }
  }
}


.weather-icon{
  width: 5rem;
}