@use "../../styles/mixins" as *;

.search {
  display: flex;
  gap: 1rem;
  width: 50%;
  margin: auto;

  &__container {
    background-color: var(--neutral-800);
    width: 90%;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 1rem;
  }

  &__input {
    border: none;
    background-color: var(--neutral-800);
    width: 100%;
    @include text-styling(var(--neutral-200), var(--font-preset-5-size));

    &::placeholder {
      outline: none;
      @include text-styling(var(--neutral-200), var(--font-preset-5-size));
    }

    &:focus {
      outline: none;
    }
  }

  &__btn {
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--blue-500);
    @include text-styling(var(--neutral-000), var(--font-preset-5-size));
    border-radius: 12px;
    border: none;
  }
}
